img{
<<<<<<< HEAD
    width: 600px; 
<<<<<<< HEAD
<<<<<<< HEAD
    height: 400px;
}
=======
    height: 400px;
>>>>>>> 8976b0e17fbc2c2fff5dcfd0f4b40d27ab6f8ed1
=======
    height: 400px;
}
=======
    width: 480px; 
    height: 300px;}
>>>>>>> 637a6ad43c60ec95bdfd4402859917999bc3a9b2
>>>>>>> 82439e3fbb6c74b13f2f1a562dc10bece969b42d
