  /* Model3 Bild für unsere Funktion ohne Diagramm
  -----------------------------------------------------------------------------*/

.mod3Pic{
   max-width: 50%;
    margin-top: 150px;
}

/* Tables 
-----------------------------------------------------------------------------*/

#tableEnergy {
  float: right;
  margin-top: 50px;
  margin-right: 75px;
}

.tableEnergy {
  color: #F0F0F0;
  max-width: 100%;
  border-bottom: 0.5px solid #F0F0F0;
  margin-top: 50px;
}

.tableEnergy tr,
.tableEnergy th,
.tableEnergy td {
  padding: 5px 20px 5px;
  text-align: right;
  margin: 0px, 10px;
}

.tableEnergy th {
  font-weight: 200;
  line-height: 1.5;
}

.tableEnergy td {
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  color: #F0F0F0;
  font-weight: 100;
  text-align: right;
}

caption {
  caption-side: top;
}

/* Toggle 
-----------------------------------------------------------------------------*/

.hide {
  display: none;
}

/* Graph
-----------------------------------------------------------------------------*/

.axis path {
  stroke: white;
}

.axis .tick line {
  stroke: white;
}

.axis .tick text {
  fill: white;
}

.btn-small-font {
  text-transform: none;
}